.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-inputSearch {
  width: 40%;
  display: flex;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #007acc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.2s;
  margin-right: 5vh;
}
.action-inputSearch:focus {
  border-color: #ff9900;
}
.search-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.genre-filter {
  display: flex;
  flex-wrap: wrap;
}
.genre-item {
  display: inline-flex;
  align-items: center;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.genre-item.selected {
  background-color: #c1c2c5;
  color: black;
}
.genre-item {
  margin-right: 8px;
  cursor: pointer;
}
.close-icon {
  cursor: pointer;
  font-size: 16px;
  margin-left: 4px;
}
.movie-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 200px;
}
.rating-container {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  padding-top: 5px;
}
.rating-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 0;
}
.rating-fill {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  clip-path: polygon(50% 50%, 100% 50%, 100% 100%, 50% 100%);
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}
.rating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.title-and-date {
  display: flex;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
}
.title-container {
  font-size: 18px;
  margin: 0;
}
.date-container {
  font-size: 14px;
  margin: 0;
  color: #888;
}
.load-moreContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filterMovies-genre {
  display: inline-flex;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  background: #c1c2c5;
  color: #212529;
  cursor: pointer;
}
@media (max-width: 768px) {
  .movie-card {
    max-width: 100%;
  }
}
